.about {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  &__about-company-block {
    margin-left: -30px;
    padding: 0 30px;
    @include box-sizing(border-box);
    margin-bottom: 58px;
    display: block;
    margin-top: 30px;
    position: relative;
    float: left;
    width: 627px;
    box-shadow: 0 20px 40px rgba(31, 49, 75, 0.25);
    background-color: #1f314b;
    background-image: linear-gradient(55deg, rgba(44, 70, 108, 0.8) 0%, rgba(31, 49, 75, 0.8) 100%);
    @include breakpoint(max-width 1200px){
      margin-left: -30px;
      padding: 0 30px;
      width: 100%;
    }
    @include breakpoint(max-width 1024px){
      width: 100%;
      margin-left: 0;
    }
    h2 {
      color: #ffffff;
      font-family: $proximaSemmiBold;
      font-size: 28px;
      font-weight: 600;
      margin-top: 40px;
      text-transform: uppercase;
      margin-bottom: 37px;
    }
    p {
      margin-top: 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 25px;
    }
  }
  &__rev-slider{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    /*overflow: hidden;*/
    &--element{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: 280px;
      padding-top: 33px;
      @include box-sizing(border-box);
      @include breakpoint(max-width 660px){
        height: 440px;
      }
    }
    .owl-nav{
      display: block;
      position: absolute;
      width: 50px;
      height: 15px;
      top: 10px;
      right: 0;
      .owl-prev{
        display: block;
        position: relative;
        float: left;
        width: 19px;
        height: 100%;
        margin-right: 10px;
        background-image: url('../img/icons/arr-rev-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-color: transparent;
        color: transparent;
        transform: rotate(180deg);
      }
      .owl-next{
        display: block;
        position: relative;
        float: left;
        width: 19px;
        height: 100%;
        background-image: url('../img/icons/arr-rev-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-color: transparent;
        color: transparent;
      }
      .owl-next.disabled, .owl-prev.disabled{
        opacity: 0;
      }
    }
  }
  &__about-company-reviews {
    display: block;
    margin-top: 30px;
    position: relative;
    float: left;
    width: calc(100% - 717px);
    margin-left: 60px;
    border-radius: 5px;
    text-align: center;
    @include breakpoint(max-width 1200px){
      width: 100%;
      margin-left: 0;
    }
    @include breakpoint(max-width 770px){
      display: block;
      margin-top: 30px;
      position: relative;
      float: left;
      width: -webkit-calc(100% - 717px);
      width: 100%;
      margin-left: 0;
      border-radius: 5px;
      text-align: center;
    }
    @include breakpoint(max-width 660px){
     margin-top: 0;
    }
    h2 {
      margin-top: 40px;
      text-align: left;
      color: #20324d;
      font-family: $proximaSemmiBold;
      font-size: 28px;
      line-height: 18px;
      margin-bottom: 58px;
      text-transform: uppercase;
      @include breakpoint(max-width 660px){
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
    a{
      color: #000000;
      font-family: 'Roboto', sans-serif;
      margin-top: 15px;
      display: inline-block;
      font-size: 15px;
      text-align: center;
      font-weight: 500;
      line-height: 19px;
      text-decoration: underline;
    }
    &--avatar{
      display: block;
      position: relative;
      float: left;
      width: 92px;
      height: 92px;
      overflow: hidden;
      border-radius: 50%;
      background-color: #527498;
      vertical-align: middle;
      img{
        size: 100%;
        object-fit: cover;
      }
      span{
        display: block;
        position: relative;
        font-size: 30px;
        text-align: center;
        color: #fff;
        margin-top: 23px;
      }
    }
   &__wrapper{
     border: 1px solid #e8e9ed;
     box-sizing: border-box;
     display: block;
     position: relative;
     float: left;
     width: 100%;
     &__user {
       display: block;
       position: relative;
       top: -33px;
       left: 22px;
       float: left;
       width: 92px;
       img{
         border-radius: 50%;
         object-fit: cover;
       }
       h3{
         color: #000000;
         font-family: "Roboto", sans-serif;
         font-size: 14px;
         font-weight: 700;
         line-height: 17px;
         text-align: center;
         float: left;
       }
     }
     &__text{
       display: block;
       position: relative;
       float: left;
       width: calc(100% - 100px);
       @include breakpoint(max-width 736px){
         width: 100%;
       }
       p{
         display: block;
         display: -webkit-box;
         width: 100%;
         height: calc(15px * 1.2 * 7);
         color: #000000;
         font-family: 'Roboto', sans-serif;
         font-size: 15px;
         text-align: left;
         font-weight: 400;
         line-height: 1.2;
         padding-left: 44px;
         @include box-sizing(border-box);
         -webkit-line-clamp: 7;
         -webkit-box-orient: vertical;
         overflow: hidden;
         -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
         @include breakpoint(max-width 736px){
           width: 100%;
           padding-left: 0;
           margin-top: 0;
         }
         @include breakpoint(max-width 660px){
           padding: 0 10px;
         }
       }
     }

   }
  }
}