.promotion {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  &__crumbs {
    display: block;
    margin-top: 37px;
    position: relative;
    float: left;
    width: 100%;
    a {
      color: #000000;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
    }
  }
  h1 {
    color: #1f314b;
    font-size: 21px;
    font-family: $proximaSemmiBold;
    display: block;
    position: relative;
    line-height: 14px;
    float: left;
    margin-bottom: 37px;
    margin-top: 34px;
    text-transform: uppercase;
    @include breakpoint(max-width 660px){
      line-height: 20px;
    }
  }
  h1.promotion__single-title {
    color: #124794;
    font-family: $proximaSemmiBold;
    font-size: 19px;
    margin-top: 29px;
    margin-bottom: 33px;
    @include breakpoint(max-width 660px) {
      line-height: 20px;
    }
  }
  &__box {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: calc(58px - 29px);
    @include breakpoint(max-width 660px){
      margin-bottom: 15px;
    }
    &--img {
      display: block;
      position: relative;
      float: left;
      width: 362px;
      height: 363px;
      overflow: hidden;
      @include breakpoint(max-width 600px) {
        width: 280px;
        height: 282px;
        margin-left: calc(50% - (280px / 2));
      }
      img {
        size: 100%;
        object-fit: cover;
      }
    }
    &--descr {
      display: block;
      position: relative;
      float: left;
      width: calc(100% - 362px);
      margin-top: 4px;
      padding-left: 54px;
      @include box-sizing(border-box);
      @include breakpoint(max-width 600px) {
        width: 100%;
        padding-left: 0;
      }
      > p {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        color: #000000;
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
        margin-top: 0;
        margin-bottom: 29px;
      }
    }
  }
  &__links {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(flex-start);
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 79px;
    @include breakpoint(max-width 660px){
      margin-bottom: 15px;
    }
    > a {
      flex: 1 0 0;
      padding-right: 45px;
      @include box-sizing(border-box);
      position: relative;
      color: #000306;
      font-family: $proximaBold;
      font-size: 15px;
      line-height: 18px;
      text-transform: uppercase;
      @include breakpoint(max-width 600px) {
        flex: 1 0 100%;
        margin-bottom: 10px;
      }
      &:hover {
        text-decoration: underline;
        text-decoration-color: #9f9f9f;
      }
    }
  }
  &__right-menu {
    display: block;
    position: relative;
    float: left;
    width: 293px;
    margin-top: 41px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 19px;
    @include box-sizing(border-box);
    list-style: none;
    background-color: #1e2f48;
    @include breakpoint(max-width 660px){
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    > li {
      width: 100%;
      > a {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        color: #ffffff;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        padding-left: 23px;
        padding-right: 19px;
        padding-top: 8px;
        padding-bottom: 8px;
        @include box-sizing(border-box);
        &:before{
          display: block;
          position: absolute;
          content: '';
          width: 12px;
          height: 9px;
          top: 11px;
          left: 0;
          background-image: url('../img/icons/dropdown-icon.png');
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
        }
        &:hover {
          color: #1e2f48;
          background-color: #f7f7f7;
          &:after {
            display: block;
            position: absolute;
            content: '';
            top: 0;
            right: -3px;
            width: 3px;
            height: 100%;
            background-color: #1e2f48;
          }
        }
      }
      > a.active {
        color: #1e2f48;
        background-color: #f7f7f7;
        &:after {
          display: block;
          position: absolute;
          content: '';
          top: 0;
          right: -3px;
          width: 3px;
          height: 100%;
          background-color: #1e2f48;
        }
      }
      > .dropdown {
        display: none;
        position: relative;
        float: left;
        width: 100%;
        margin-top: 0;
        padding-left: 23px;
        @include box-sizing(border-box);
        list-style: none;
        > li {
          width: 100%;
          > a {
            display: block;
            position: relative;
            float: left;
            width: 100%;
            color: #ffffff;
            font-weight: 400;
            font-style: italic;
            font-size: 14px;
            line-height: 18px;
            padding-left: 23px;
            padding-right: 19px;
            padding-top: 8px;
            padding-bottom: 8px;
            @include box-sizing(border-box);
            &:hover {
              color: #1e2f48;
              background-color: #f7f7f7;
              &:after {
                display: block;
                position: absolute;
                content: '';
                top: 0;
                right: -3px;
                width: 3px;
                height: 100%;
                background-color: #1e2f48;
              }
            }
          }
        }
      }
    }
  }
  &__menu-links {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-between);
    position: relative;
    float: left;
    width: calc(100% - (293px));
    margin-top: 41px;
    padding-left: 25px;
    @include box-sizing(border-box);
    @include breakpoint(max-width 660px){
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
      padding-left: 0;
    }
    > h3 {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      color: #1f314b;
      font-family: $proximaBold;
      font-size: 21px;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 0;
    }
    &--element {
      display: block;
      position: relative;
      float: left;
      width: 240px;
      height: 100%;
      margin-bottom: 25px;
      > h3 {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 10px;
        color: #1f314b;
        font-family: $proximaBold;
        font-size: 14px;
      }
      > p {
        display: block;
        display: -webkit-box;
        position: relative;
        float: left;
        width: 100%;
        height: calc(11px * 1.3 * 4);
        color: #5c6672;
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 11px;
        font-weight: 400;
        line-height: 1.3;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
      }
    }
    &--img{
      display: block;
      position: relative;
      float: left;
      width: 274px;
      height: 128px;
      overflow: hidden;
      img{
        size: 100%;
        object-fit: cover;
        transition: .4s ease;
      }
    }
    &--element:hover{
      .promotion__menu-links--img{
        img{
          transform: scale(1.1);
        }
      }
    }
    &--photo{
      display: block;
      position: relative;
      float: left;
      width: 303px;
      height: 193px;
      img{
        size: 100%;
        object-fit: cover;
      }
    }
    &--descr{
      display: block;
      position: relative;
      float: left;
      width: calc(100% - 303px);
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 24px;
      @include box-sizing(border-box);
      color: #5c6672;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      @include breakpoint(max-width 660px){
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }
  &__wrapper{
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-between);
    position: relative;
    float: left;
    width: 100%;
    &--element{
      display: block;
      position: relative;
      float: left;
      width: 162px;
      @include breakpoint(max-width 992px){
        width: 50%;
      }
      @include breakpoint(max-width 660px){
        width: 100%;
      }
    }
    &--img{
      display: block;
      position: relative;
      float: left;
      width: 162px;
      height: 212px;
      overflow: hidden;
      @include breakpoint(max-width 992px){
        margin-left: calc(50% - (161px/2));
      }
      @include breakpoint(max-width 660px){
        width: 290px;
        margin-left: calc(50% - (290px/2));
      }
      img{
        size: 100%;
        object-fit: contain;
      }
    }
    &--download{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 29px;
      margin-bottom: 30px;
      color: #1f314b;
      font-family: $proximaBold;
      font-size: 16px;
      text-align: center;
      text-decoration: underline;
      text-transform: uppercase;
      text-decoration-color: #9f9f9f;
    }
    &--item{
      display: block;
      position: relative;
      float: left;
      width: 23%;
      height: 128px;
      overflow: hidden;
      margin-bottom: 34px;
      @include breakpoint(max-width 660px){
        width: 290px;
        margin-left: calc(50% - (290px/2));
      }
      img {
        size: 100%;
        object-fit: cover;
        transition: .4s ease;
      }
      &:hover{
        img{
          transform: scale(1.1);
        }
      }
    }
    > .about__about-company-reviews__wrapper{
      width: calc(50% - (22px*2));
      margin-top: 40px;
      margin-bottom: 30px;
      margin-left: 22px;
      margin-right: 22px;
      @include breakpoint(max-width 660px){
        width: calc(100% - (22px*2));
      }
      p{
        width: 100%;
        height: auto;
        -webkit-line-clamp: inherit;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        @include breakpoint(max-width 660px){
          padding: 10px;
          @include box-sizing(border-box);
        }
      }
    }
    &--more{
      display: block;
      position: relative;
      float: left;
      width: 200px;
      margin-left: calc(50% - (200px/2));
      margin-top: 29px;
      margin-bottom: 30px;
      color: #1f314b;
      font-family: $proximaBold;
      font-size: 16px;
      text-align: center;
      text-decoration: underline;
      text-transform: uppercase;
      text-decoration-color: #9f9f9f;
    }
    &--contact{
      display: block;
      position: relative;
      float: left;
      width: 33%;
      padding: 0 50px;
      @include box-sizing(border-box);
      @include breakpoint(max-width 770px){
        padding: 0 10px;
      }
      @include breakpoint(max-width 660px){
        padding: 0 10px;
        width: 100%;
      }
    }
    &--contact-icon{
      display: block;
      position: relative;
      float: left;
      width: 24px;
      height: 24px;
      overflow: hidden;
      margin-top: 8px;
      img{
        size: 100%;
        object-fit: contain;
      }
    }
    &--contact-descr{
      display: block;
      position: relative;
      float: left;
      width: calc(100% - 24px);
      padding-left: 27px;
      @include box-sizing(border-box);
      > p{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin: 0;
        margin-bottom: 4px;
        color: #616161;
        font-size: 14px;
        font-weight: 400;
      }
      > a{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        color: #000000;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        &:hover{
          text-decoration: underline;
          text-decoration-color: #9f9f9f;
        }
      }
      > span{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        color: #000000;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }
    }
    &--contact-notification{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      color: #1f314b;
      font-size: 16px;
      line-height: 1.5;
    }
  }
  &__download{
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-between);
    position: relative;
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    .promotion__wrapper--element{
      display: block;
      position: relative;
      float: left;
      width: 162px;
      height: 100px;
      padding: 1em;
      @include box-sizing(border-box);
      background-color: #efefef;
      border: 1px solid white;
      color: #1a2636;
      border-radius: 3px;
      margin: 2px;
    }
  }
  &__map{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 295px;
    margin: 30px 0;
    overflow: hidden;
    #map{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }
  &__policy-title{
    width: 100%;
    text-align: center;
  }
  &__policy-subtitle{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    color: #1f314b;
    font-size: 20px;
  }
  &__policy-list{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    counter-reset: li; /* Инициализируем счетчик */
    list-style: none;
    padding-left: 26px;
    @include box-sizing(border-box);
    > li{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      > ul{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        list-style: none;
        padding: 0;
        > li:before{
          display: block;
          position: absolute;
          content: '';
          width: 4px;
          height: 4px;
          background-color: #000;
          left: -9px;
          top: 10px;
        }
      }
    }
    > li:before {
      content: counter(li); /* В качестве данных используем счетчик */
      counter-increment: li; /* Увеличиваем значение счетчика на 1 */
      position: absolute;
      top: 18px;
      left: -29px;
      width: 2em;
      padding: 4px 0;
      color: #1f314b;
      font-size: 18px;
      text-align: center;
    }
  }
  &__policy-text{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    color: #1f314b;
    font-size: 16px;
    line-height: 1.5;
    > a{
      color: #124794;
      &:hover{
        text-decoration: underline;
        text-decoration-color: #9f9f9f;
      }
    }
  }
}