.allpromotions{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  h1{
    color: #124794;
    font-family: $proximaSemmiBold;
    font-size: 19px;
    line-height: 14px;
    text-transform: uppercase;
    margin-top: 29px;
    margin-bottom: 33px;
  }
}