.footer {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background: #1f314b;
  &__menu {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    ul {
      padding: 0;
      margin: 0;
      margin-left: 37px;
      list-style: none;
      li {
        display: inline-block;
        margin-right: 23px;
        a {
          color: #ffffff;
          font-size: 16px;
          font-weight: 600;
          line-height: 100px;
          transition: 200ms ease;
          padding-bottom: 8px;
          &:hover{
            border-bottom:  1px solid #fecc53;
            transition: 200ms ease;
          }
        }
      }
    }
  }
  .border-footer {
    height: 1px;
    width: 100%;
    display: block;
    position: relative;
    float: left;
    background: #fff;
    opacity: 0.3;
  }
  &__author {
    margin-left: 37px;
    color: #8999b0;
    font-size: 14px;
    line-height: 80px;
    font-family: $myriadReg;
    font-weight: 400;
    width: 184px;
    display: block;
    position: relative;
    float: left;
  }
  &__contacts {
    @include display-flex(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(flex-end);
    position: relative;
    float: left;
    width: calc(100% - 291px);
    margin-right: 70px;
    &__items {
      display: block;
      position: relative;
      text-align: right;
      float: left;
      color: #fff;
      font-family: $proximaSemmiBold;
      font-size: 14px;
      width: 140px;
      font-weight: 600;
      margin-top: 27px;
      margin-left: 32px;
      &:last-of-type{
        width: 160px;
      }
    }
  }
}
#Go_Top {
  display: none;
  position: fixed;
  width: 68px;
  height: 68px;
  bottom: 60px;
  right: 30px;
  cursor: pointer;
  z-index: 10;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}